<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    This is the about page for the alpha blog application
                </h1>
                <small>Let's see how this will be an amazing application.</small>
            </div>
        </div>
    </div>
</div>